@model SimpleCRUD.Models.Anime

<h2>Show Detail</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.Display("ID")
        </th>
    </tr>
    <tr>
        <th>
            Title
        </th>
        <th>
            @Html.Display("Title")
        </th>
    </tr>
    <tr>
        <th>
            Publisher
        </th>
        <th>
            @Html.Display("Publisher")
        </th>
    </tr>
    <tr>
        <th>
            Author
        </th>
        <th>
            @Html.Display("Author.FirstName") @Html.Display("Author.LastName")
        </th>
    </tr>
    <tr>
        <th>
            Description
        </th>
        <th>
            @Html.Display("Description")
        </th>
    </tr>
    <tr>
        <th>
            Release Date
        </th>
        <th>
            @Html.Display("ReleaseDate").ToString()
        </th>
    </tr>
    <tr>
        <th>
            Genre
        </th>
        <th>
            @Html.Display("Genre".ToString())
        </th>
    </tr>
    <tr>
        <th>
            Season
        </th>
        <th>
            @Html.Display("Season".ToString())
        </th>
    </tr>
    <tr>
        <th>
            Rating
        </th>
        <th>
            @Html.Display("Rating".ToString())
        </th>
    </tr>
    <tr>
        <th>
            Currently Aring
        </th>
        <th>
            @Html.Display("Aring".ToString())
        </th>
    </tr>
</table>